.navbar-container {
    position: absolute;
    margin-top: 40px;
    width: 200px;
    background-color: #ADB4B2;
    padding-top: 20px;
  }

  .navbar-container button {
    width: 100%;
    padding: 15px 20px;
    background: none;
    border: none;
    color: black;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }

  .navbar-container button:hover {
    color: black;
    background-color: white;
  }