.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #B3B4AD;
  }
  
  .header-logo img {
    height: 80px;
  }
  
  .header-user-info {
    display: flex;
    align-items: center;
  }
  
  .user-avatar {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-left: 10px;
  }